/* 초기화 */
* {
    margin: 0; padding: 0;
    font-family: '맑은 고딕', 'Malgun Gothic', Gothic, sans-serif;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

li {
    list-style: none;
}

html {
    background-image: url(background.png);
    background-attachment: fixed;
    width: 960px; margin: 0 auto;
    background-size: 100%;
}

body {
    background: #f7f7f7;
    margin: 40px 0; padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
   
}


/*아이콘*/
#main-navigation {
    width: 960px;
    height: 70px;
    position: relative;
}

.title > h4 {
    margin: 15px;
    float: right;
    margin-top: 40px;

}
.icon-home > a >img  {
    margin: 15px; 
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 50px;
   
}

.icon-profile > a> img {
    margin: 15px;    
    float: left;
    width: 100px;
    height: 80px;
}


.main-title > img {
    display: block;
    width: 280px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    margin-top: 10px; margin-bottom: 10px;
    padding-right: 100px;
}

/*말풍선*/

.balloon_02 {
    position:relative;
    margin: 60px;
    width:400px;
    height:400px;
     background:#9b9fa0;
     border-radius: 10px;
     float: right;
    right: 250px;
     top: 50px;
    
   }
   .balloon_02:after {
    border-top:15px solid #969696;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:20px;
    left:-15px;
   }

.balloon_03 {
    position: relative;
    margin: 70px;
    width: 400px;
    height: 400px;
    background: cadetblue;
    border-radius: 10px;
    float: right;
    right: 40px;
}

.balloon_03::after {
    border-top: 15px solid cadetblue;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 20px;
    left: 400px;
    float: left;

}


.balloon_01 {
    position: relative;
    margin:70px;
    width:500px;
    height: 100px;
    background: rgb(245, 241, 10);
    border-radius: 10px;
    float: left;
    

}
    
.balloon_01:after {
    border-top: 15px solid rgb(245, 241, 10);
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 20px;
    left: 500px;
    float: left;

}

.balloon_01 > p {
    text-align: center;
    padding-top: 18px; 
    line-height: 35px;
    font-size: 12pt;
    margin-inline-end: 10px;
    margin-inline-start: 10px;
    
    
}

#section {
    overflow: hidden;
    width: 850px;
}



.image2 {
    float: right;
    width: 190px;
    height: 190px;
}

.main-title > h2 {   
    display: block;
    width: 200px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    margin-top: 30px; margin-bottom: 30px;
   
}

.balloon_02 > img {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    
}


.balloon_03 > img {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.otherperson1 >img {
    width: 150px;
    height: 150px;
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    float: left; 
   

}

#other-person_1 {
    overflow: hidden;
    width: 960px;
    height: 600px;
}

#other-person_2 {
    overflow: hidden;
    width: 960px;
    height: 600px;
}

.otherperson2 > img {
    width: 150px;
    height: 150px;
    display: block;
    position: relative;
    float: right;
    top: 20px;
    right: 50px;

}

#content {
    margin: 0 auto;
    width: 960px; 
    background-color: rgb(197, 240, 247);
    height: 600px;
    position: relative;
    overflow: scroll;
    right: 20px;
}


/*input 태그 */

.send {
    width: 920px;
    height: 150px;
    background-color: rgb(71, 167, 231);
   
}



.input-search {
    width: 700px;
    height: 80px;
    text-align: center;
   
    
   
    
    
} 


.input-search-submit {
    width: 80px;
    height: 40px;
    
    
}


.button-photo {
    width: 80px;
    height: 40px;
}

div.send-text {
    text-align: center;
}


#main-footer > p {
    font-size: 7pt;
    text-align: center;
}



